footer{
    color:hsl(200, 1%, 57%);
    background-color:#262626;
    
    
    a{
        color:hsl(200, 1%, 57%);
    }
    h2,h3{
        color:hsl(200, 5%, 67%);
    }
    section{
        display:flex;
        justify-content:space-between;
        align-items:center;

        .social-media-links{
            h2{
                font-size:1.6rem;
            }

            .social-media-logo{
                display: flex;
                gap:1em;
                text-align:center;
                margin-block:1em;
                margin-left:-0.7em;
                img{
                    width:2em;
                }
            }
        }
        

        .links{
            height:88px;
            ul{
                margin-top:1em;
                li{
                    margin-block-end:1em;
                    text-transform: capitalize;
                }
            }
        }
    }
}