header{
   background-color:#AF977A;
   height:100vh;
   position: relative;
   z-index:1;
    
   .hero{
    height:calc(100vh - 50px);
    position: relative;
    color:#fff;
    .hero-text{
            position: absolute;
            width:100%;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        h2{
            font-size:4rem;
            margin-block:0.2em;
        }
        h4{
            font-size:2rem;
        }
        p{
            font-size:3rem;
            margin-bottom:1em;
        }
    }
}

header::after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
    z-index:-1;

    background-image:linear-gradient(0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('/Images/imgs/ebonynBG.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
