main{
    .offer-section{
        margin-block-start:2em;
        background-color:#E3D7C8;
        
        h1{
            font-size:4em;
            text-align:center;
            margin-bottom:1em;
            color:#9a9797;
        }
        .wrapper{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-template-rows:1fr 1fr;
            gap:0.5em;
    
            grid-template-areas:
                "box1 box2 box2"
                "box3 box3 box4"
            ;
          
            .panel{
                position: relative;
                height:100vh;
                border-radius:5px;
                box-shadow:0 5px 10px rgba(0,0,0,0.5);
                overflow:hidden;
                .panel-image{
                    position:absolute;
                    height:100%;
                    width:100%;
                    top:0;
                    left:0;
    
                    background-position:center center;
                    background-repeat:no-repeat;
                    background-size:cover;
                    filter:brightness(0.5);
                }
    
                .panel-text{
                    position:absolute;
                    left:1em;
                    bottom:1em;
                    color:#D2D4D5;
                    line-height:1.5;
                    span{
                        color:gold;
                    }
                }
            }
    
            .box1{
                grid-area:box1;
            }
            .box2{
                grid-area:box2;
            }
            .box3{
                grid-area:box3;
            }
            .box4{
                grid-area:box4;
            }
        }
    }
    
    .about-section{
        background:linear-gradient(
            to top,
            #E3D7C8,
            #AF977A
        );
        clip-path:polygon(100% 0,100% 13%,100% 92%,0% 100%,0 57%,0 0);
        padding-block-end:1.5em;
        
    
        .wrapper-area{
            width:100%;
           
            display:grid;
            grid-template-columns:50% 1fr;
            grid-template-rows:50% 1fr;
    
            grid-template-areas:
                'about-text about-image'
                'why-us-image why-us-text'
            ;
            gap:1em;
    
            .text-area{
                font-size:1.5rem;
                line-height:1.5;
                color:#fbfafa;
                
                p{
                    
                    text-align:justify;
                }
            }
            .image-area{
                height:45vh;
                img{
                    width:100%;
                    height:100%;
                    object-fit:cover;
                    border-radius:3px;
                }
            }
            
            
            button{
                margin-top:2em;
                border-color:white;
            }
    
            .about-text{
                grid-area:about-text;
            }
            .about-image{
                grid-area:about-image;
            }
            .why-us-text{
                grid-area:why-us-text;
            }
            .why-us-image{
                grid-area:why-us-image;
            }
        }
    }
    .products-section{
        margin-bottom:2em;
        background-color:#AF977A;
        min-height:100vh;
        clip-path:polygon(100% 0,100% 15%, 100% 100%, 0 100%,0 57%,0 9%);
        h2{
            text-align:center;
            font-size:2rem;
            color:#fbfafa;
            margin-block:1em;
        }
        
        .panel-products{
            display:grid;
            grid-template-columns:auto auto auto;
            row-gap:5em;
            .products-container{
                height:20em;
                width:34em;
                display:flex;
                flex-direction:column;
                
                .products-container-image{
                    width:100%;
                    height:100%;
                    object-fit:cover;
                    border-radius:3px 3px 0 0;
                }
                .products-container-info{
                    background-color:#E3D7C8;
                    padding:0.5em;
                    border-radius:0 0 3px 3px;
    
                    .products-name{
                        font-size:1.4rem;
                    }
                    .products-price{
                        font-size:1.3rem;
                        font-weight:600;
                        color:#999;
                    }
                }
            }
        }
        
    }
}

