button{
    font-size:1.4rem;
    text-transform:capitalize;
    padding:0.2em 0.3em;
    border-radius:2px;
    border:1px solid var(--primary-color);
    outline:none;
    color:var(--txt-color2);
    background:none;
    cursor: pointer;
    font-weight:800;

    transition:var(--transition);

    &:hover{
        background-color:var(--txt-color2);
        color:var(--primary-color);
    }
}

