@media screen and (max-width:1000px) {
    .container{
        padding-inline:6em;
    }
};


@media screen and (max-width:850px) {
    .container{
        padding-inline:4em;
    }

    header{
        .nav-bar{
            .menu-links{
                position:absolute;
                flex-direction:column;
                background:linear-gradient(
                    0deg,
                    rgba(255,255,255,0.3),
                    rgba(255,255,255,0.3)
                );
                top:5em;
                left:0;
                width:100%;
                height:80%;
                z-index:9999;
                
                justify-content:space-evenly;
                li{
                    font-size:1.5rem;
                    a{
                        color:#FFF;
                    }
                }
                transform:translateX(-100%);
                transition:all 0.5s;
            }

            .menu-links-move{
                transform:translateX(0%);
            }


            .btns-links{
                display:none;
            }

            .hamburger-menu{
                display:block;
                cursor: pointer;
                .hamburger{
                    width:3em;
                    height:0.3em;
                    background-color:white;
                    border-radius:20px;
                    transition:all 0.3s;
                    &:not(:last-child){
                        margin-bottom: 0.3em;
                    }
                    &:nth-child(2){
                        width:1.5em;
                        transform:translateX(0.75em);
                        background-color: #AF977A;;
                    }
                }
            }
            .hamburger-menu-display{
                .hamburger{
                    &:nth-child(2){
                        width:0;
                    }
                    &:nth-child(1){
                        transform:translateY(0.6em)rotate(45deg)rotate(-180deg);
                        
                    }
                    &:nth-child(3){
                        transform:translateY(-0.6em)rotate(-45deg);
                    }
                }
            }
        }
        
        .hero{
            transition:all 0.5s;
        }
        .hero-blur{
            filter:blur(6px);
        }

    }

    main{
        .offer-section{
            .container{

                h1{
                    font-size:3rem;
                }
               .wrapper{
                grid-template-columns:1fr;grid-template-areas:
                "box1"
                "box2"
                "box3"
                "box4";
                .panel{
                    height:60em;

                    .panel-image{
                        object-fit:cover;
                    }
                }
               }
            }
        }

    }   
}

@media screen and (max-width:600px) {
    .container{
        padding-inline:2em;
    }
    .hero{
        .hero-text{
            h2{
            font-size:3rem;
            margin-block:0.3em;
            }
            button{
                margin-top:1em;
                padding:0.5em;
                a{
                  font-size:2rem;
                }
             }
        }
    }

    main{
        .offer-section{
            .container{
                .wrapper{
                    .panel{
                    height:40em;
                    }
               }
            }
        }

    } 
};