footer{
    background-color:#262626;
    color:#999;
    padding-block-end:1em;
    a{
        color:#999;
    }
    h3{
        font-size:2rem;
    }
    h4{
        font-size:1.2rem;
    }
    
    ul{
        margin-top:1em;
        li{
            margin-block:0.5em;
        }
    }
    p{
        text-align:center;
        text-transform: capitalize
    }
    .container{
        @include flexbox2;
    }
    .first-box{
       .links-to-social-media{
            margin-block:0.5em;
            a{
                margin-left: -0.5em;
                img{
                    width:2em;
                    margin-inline-end:1.2em;
                }
            }
        }
        .copy{
            font-size:1rem;
        }
    }
}