header{
    position: relative;
    min-height:100vh;
    background-color:var(--primary-color);
    z-index:1;
}
/***************/ 
header::after{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url('/Images/imgs/ebonyBG.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    z-index:-1;
}
/***************/ 
.hero{
    position: absolute;
    height:calc(100vh - 4em);
    width:calc(100% - 4em);
   
    display:flex;
    flex-direction:column;
    justify-content:center;

    .hero-text{
        color:var(--txt-color1);
        p,h5{
            font-size:2rem;
        }
        h2{
            font-size:3.5rem;
            line-height:1.5;
        }
    }

    .hero-link{
        margin-top:1em;
    }
    transition:var(--transition);
}
.hero-blur{
    filter:blur(10px);
}