main{
    margin-block:1em;
     h2{
        text-align:center;
        font-size:3rem;
        color:var(--txt-color2);
        text-transform: capitalize;
        font-weight:900;
    }

    /* ************ */ 
    .offer-section{
        background:linear-gradient(
            to bottom,
            var(--primary-color),
            var(--secondary-color),
            var(--primary-color)
        );
        padding-block:1em;
        .wrapper-offer-section{
            @include flexbox1;
            flex-flow:row wrap;
           
            gap:0.5em;
            margin-block:2em;
        }
        .panel{
            position: relative;
            width:100%;
            height:30em;
            
            border-radius:5px;
            overflow:hidden;
            box-shadow:var(--shadow);
            
            @include for-tablet-portrait-up{
               height:35em;
            }
            
            .panel-image{
                position:absolute;
                left:0;
                top: 0;
                width:100%;
                height:100%;
                object-fit:cover;

                filter:brightness(0.6);
            }
            .panel-text{
                position: absolute;
                
                bottom:1em;
                left:1em;
                color:var(--txt-color1);
                font-weight:600;
                line-height:1.4;
                font-size:1.4rem;
                span{
                    color:gold;
                }
            }
        }
    };
    /* ************ */ 
    .about-section{
        margin-block:1.5em;
        width:100%;
        background-color:var(--primary-color);

        h4{
            color:var(--txt-color1);
            font-size:2rem;
        }
        button{
            border-color:var(--txt-color1);
        }
       .wrapper-about-section{
            width:100%;
            
            @include flexbox1;
            flex-wrap:wrap;
            
            gap:2em;

            @include for-tablet-landscape-up{
                width:80%;
                margin-inline:auto;
            }    
        }

        img{
            width:100%;
            height:30em;
            object-fit:cover;
            
            border-radius:20px 0px 20px 0px;
            box-shadow:var(--shadow);

            @include for-tablet-portrait-up{
                height:35em;
            }
        }
        p{
            font-size:1.4rem;
            line-height:1.5;
            text-indent:20px;
            margin-block:0.5em;
            
            &::first-letter{
                font-size:2rem;
            }
        }
    }
    /* ************ */ 
    .products-section{
        h2{
            color:#262626;
        }
        .boxes{
            .box{
                width:100%;
                max-width:30em;
                height:18em;
               
                background-color:var(--txt-color1);

                display:flex;
                flex-direction:column;
                padding-block-end:0.5em;

                img{
                    width:100%;
                    height:85%;
                    object-fit:cover;
                    transition:var(--transition);
                    &:hover{
                        filter:brightness(0.5);
                    }
                }

                .caracterias{
                    padding: 0.2em 0.5em;
                    height:auto;
                }
            }
        }
    }
    /* ************ */ 
    .newsLetter-section{
        .newsLetter{
            position: relative;
            width:100%;
            height:30em;
           
            @include for-tablet-landscape-up{
                height:40em;
            }

            img{
                width:100%;
                height:100%;
                object-fit:cover;
                filter:brightness(0.5);
            }

            .subscribe{
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                text-align:center;
                width:100%;
               

                p{
                    font-size:2rem;
                    color:var(--txt-color1);
                    margin-bottom:1.5em;

                    @include for-tablet-landscape-up{
                       font-size:4rem;
                    }
                }
            }
        }

        .reviews{
            h5 {
                text-align:center;
                text-transform:capitalize;
                margin-block:2em;
                font-size:2rem;
            }

            .review{
                display:flex;
                justify-content:space-around;
                align-items:center;
                .box{
                    height:8em;
                    width:12em;
                    border-radius:5px;
                    background-color:#262626;
                    @include flexbox1;
                    align-items:center;
                    flex-direction:column;
                    padding:1em;
                    box-shadow:var(--shadow);

                    .box-image{
                        width:4em;
                        height:4em;
                        border-radius:100%;
                        border:2px solid var(--txt-color1);
                        margin-top:-2em;
    
                        img{
                            width:100%;
                            height:100%;
                            object-fit:cover;
                            border-radius:100%;
                        }
                    }
                    .box-text{
                        text-align:center;
                        color:var(--txt-color2);
                        h6{
                            font-size:1.4rem;
                        }
                        p{
                            font-size:0.8rem;line-height:1.5;
                        }
                    }
                }
                
            }
        }
    }
}


