main{
    margin-block:1em;
     h2{
        text-align:center;
        font-size:3rem;
        color:var(--txt-color2);
        text-transform: capitalize;
        font-weight:900;
    }

    /* ************ */ 
    .offer-section{
        background:linear-gradient(
            to bottom,
            var(--primary-color),
            var(--secondary-color),
            var(--primary-color)
        );
        padding-block:1em;
        .wrapper-offer-section{
            @include flexbox1;
            flex-flow:row wrap;
           
            gap:0.5em;
            margin-block:2em;
        }
        .panel{
            position: relative;
            width:100%;
            height:30em;
            
            border-radius:5px;
            overflow:hidden;
            box-shadow:var(--shadow);
            
            @include for-tablet-portrait-up{
               height:35em;
            }
            
            .panel-image{
                position:absolute;
                left:0;
                top: 0;
                width:100%;
                height:100%;
                object-fit:cover;

                filter:brightness(0.6);
            }
            .panel-text{
                position: absolute;
                
                bottom:1em;
                left:1em;
                color:var(--txt-color1);
                font-weight:600;
                line-height:1.4;
                font-size:1.4rem;
                span{
                    color:gold;
                }
            }
        }
    };
    /* ************ */ 
    .about-section{
        margin-block:1.5em;
        width:100%;
        background-color:var(--primary-color);

        h4{
            color:var(--txt-color1);
            font-size:2rem;
        }
        button{
            border-color:var(--txt-color1);
        }
       .wrapper-about-section{
            width:100%;
            
            @include flexbox1;
            flex-wrap:wrap;
            
            gap:2em;

            @include for-tablet-landscape-up{
                width:80%;
                margin-inline:auto;
            }    
        }

        img{
            width:100%;
            height:30em;
            object-fit:cover;
            
            border-radius:20px 0px 20px 0px;
            box-shadow:var(--shadow);

            @include for-tablet-portrait-up{
                height:35em;
            }
        }
        p{
            font-size:1.4rem;
            line-height:1.5;
            text-indent:20px;
            margin-block:0.5em;
            
            &::first-letter{
                font-size:2rem;
            }
        }
    }
    /* ************ */ 
    .products-section{
        h2{
            color:#262626;
        }
        .boxes{
            .box{
                width:100%;
                max-width:30em;
                height:18em;
               
                background-color:var(--txt-color1);

                display:flex;
                flex-direction:column;
                padding-block-end:0.5em;

                img{
                    width:100%;
                    height:85%;
                    object-fit:cover;
                    transition:var(--transition);
                    &:hover{
                        filter:brightness(0.5);
                    }
                }

                .caracterias{
                    padding: 0.2em 0.5em;
                    height:auto;
                }
            }
        }
    }
    /* ************ */ 
}

.link-to-top{
    position:fixed;
    right:2em;
    bottom:2em;
    .chevron{
        position: relative;
        height:3em;
        width:3em;
        cursor: pointer;
        background:transparent;
        border:none;
    
        &::before,&::after{
            position: absolute;
            content:'';
            height:3em;
            width:0.4em;
            background-color:red;
            border-radius:3px;
            top:50%;
        }

        &::before{
            left:0;
            transform:translate(3px,-50%)rotate(45deg);
        }
        &::after{
            right:0;
            transform:translate(-3px,-50%)rotate(-45deg);
        }
        animation:bounce 3s ease-in-out infinite;   
    }
    visibility:hidden;
   
}
.link-to-top-show{
    visibility:visible;
}

@keyframes bounce{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:scale(1);
    }
}

