main{
    margin-block:1em;
     h2{
        text-align:center;
        font-size:3rem;
        color:var(--txt-color2);
        text-transform: capitalize;
        font-weight:900;
    }

    /* ************ */ 
    .offer-section{
        background:linear-gradient(
            to bottom,
            var(--primary-color),
            var(--secondary-color),
            var(--primary-color)
        );
        padding-block:1em;
        .wrapper-offer-section{
            display:flex;
            justify-content:center;
            flex-flow:row wrap;
           
            gap:0.5em;
            margin-block:2em;
        }
        .panel{
            position: relative;
           
            width:100%;
            max-width:30em;
            height:28em;
            
            border-radius:5px;
            overflow:hidden;
            box-shadow:0 5px 10px 0 rgba(0,0,0,0.5);
            
            .panel-image{
                position:absolute;
                left:0;
                top: 0;
                width:100%;
                // max-width:32e;
                height:100%;
                object-fit:cover;

                filter:brightness(0.6);
            }
            .panel-text{
                position: absolute;
                bottom:1em;
                left:1em;
                color:var(--txt-color1);
                font-weight:600;
                line-height:1.4;
                font-size:1.4rem;
                span{
                    color:gold;
                }
            }
        }
    };
    /* ************ */ 
    .about-section{
        margin-block:1.5em;
        width:100%;
        background-color:var(--primary-color);

       .wrapper-about-section{
            width:100%;
            display:grid;
            grid-template-columns:1fr;
            gap:2em;
        }

        img{
            width:100%;
            width:32em;
            height:28em;
            
            object-fit:cover;
            border-radius:20px 0px 20px 0px;
            
            box-shadow:var(--shadow);
        }
        p{
            font-size:1.4rem;
            line-height:1.5;
            text-indent:20px;
            
            &::first-letter{
                font-size:2rem;
            }
        }
    }
}

