.nav-bar{
    @include flexbox2;
    align-items:center;
/***************/ 
    .logo{
        font-size:2rem;
        color:var(--txt-color1);
        font-weight:700;
        span{
            color:var(--primary-color);
        }
    }
/***************/ 
    .nav-links{
        position:absolute;
        top:4.5em;
        width:calc(100% - 4em);

        background:var(--glasmorphism);
        box-shadow:var(--shadow);
        border-radius:3px;
       
        text-align:center;
        padding-block-end:1em;
        z-index:10;
/***********************************/
        @include for-tablet-portrait-up{
            width:calc(100% - 8em);
        }
        @include for-tablet-landscape-up {
            position:unset;
            transform:translateX(0);
            background:transparent;
            box-shadow:unset;
            height:auto;
            top:unset;
            padding-block-end:unset;
          
             
            @include flexbox2;    
            align-items:center;
        } 

        .menu-links{
            margin-bottom:2em;

            @include for-tablet-landscape-up{
                flex-grow:1;
               
               @include flexbox1;
                align-items:center;
                gap:6em;
                margin-bottom:unset;
            }
            li{
                font-size:2rem;
                padding-block:1.4em;
                border-bottom:1px solid var(--secondary-color);
                text-transform: capitalize;
                letter-spacing:2px;

                @include for-tablet-landscape-up{
                    border:none;
                    padding-block:unset;
                    font-size:1.4rem;
                }

                a{
                    color:var(--txt-color2);

                    @include for-tablet-landscape-up{
                        position: relative;
                        &::after{
                            content:"";
                            position: absolute;
                            width:0;
                            height:0.2em;
                            background-color:var(--primary-color);
                            left:0;
                            top:1.3em;
                            transition:var(--transition);
                        }
                        &:hover::after,&:focus{
                            width:100%;
                        }
                    }
                }
            }
           
        }
        transition:var(--transition);
        transform:translateX(-120%);
    }

    .nav-links-show{
        transform:translateX(0);
    }
/***************/ 
    .hamburger-menu{
        cursor: pointer;
        .hamburger{
            width:3em;
            height:0.3em;
            background-color:var(--txt-color1);
            border-radius:20px;
            transition:var(--transition);

            &:not(:last-child){
                margin-bottom:0.3em;
            }
            &:nth-child(2){
                width:1.5em;
                background-color:var(--primary-color);
                transform:translateX(0.75em);
            }
        }

        @include for-tablet-landscape-up{
            display:none;
        }
    }
    .hamburger-menu-show{
        .hamburger{
            &:nth-child(2){
                width:0;
            }
            &:nth-child(1){
                transform:translateY(0.6em)rotate(45deg);
            }
            &:nth-child(3){
                transform:translateY(-0.6em)rotate(-45deg);
            }
        }
    }
}