:root{
    --primary-color:#b79367;
    --secondary-color:#E3D7C8;
    --txt-color1:#D2D4D5;
    --txt-color2:#fbfafa;
    
    --transition:all 0.5s;
    
    --glasmorphism:rgba(255,255,255,0.1);
    --shadow:0 6px 12px 0 rgba(0,0,0,0.5);
}